* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
body{
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: auto;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: ease;
  animation-name: namaAnimasi;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction:alternate;
}
@keyframes namaAnimasi {
	0%   { background-image: url('image/wlpr1.jpg'); }
	25%  { background-image: url('image/wlpr2.png'); }
  50%  { background-image: url('image/wlpr3.jpg'); }
  75%  { background-image: url('image/wlpr4.jpg'); }
	100% { background-image: url('image/wlpr5.jpg'); }
}

/*header*/
header{
  height: 2%;
  background-color: rgba(0, 0, 0, 0.7);
}
header .main-header{
  width: 90%;
  margin: 0 auto;
}

/*form kontak*/
.contact-form {
  margin: 20vh auto 10vh;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  width: 360px;
  padding: 20% auto 10%;
  border-radius: 6px;
}
.contact-form .logo, h3{
  padding: 10px;
}
form{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form-group{
  margin-bottom: 5%;
}
label{
  font-size: 20px;
  display: block;
  text-align: center;
}
input,textarea{
  width: 300px;
  padding: 10px;
  border-radius: 7px;
}
input:focus, textarea:focus{
  outline: none;
}
button{
  margin: 3% auto;
  width: 40%;
  padding: 1% 2%;
  border: none;
  border-radius: 7px;
}
button:hover{
  background-color: aqua;
}
.button a{
  text-decoration: none;
  padding: 1% 2% ;
  border-radius: 7px;
  color: black;
  background-color: #f1f1f1;
}
.button a:hover{
  background-color: red;
}
/*footer*/
footer{
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  text-align: center;
  padding-top: 40px;
}
footer h4{
  padding-left: 2% ;
  padding-bottom: 2% ;
}
.link-email{
  padding: 2% 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.link-email a{
  margin: 0 10%;
  color: #f1f1f1;
}
.link-email a:hover{
  color: rgb(0, 136, 255);
  transition: 0.3s;
}
footer p{
  padding: 2%;
  padding-bottom: 3rem;
  font-size: small;
}

@media (max-width: 840px){
  .link-email a{
    font-size: 10px;
  }
  footer p{
    font-size: 9px;
  }
}
